.input{
     width: 40%;
     padding: 10px;
     border: 2px solid blue;
     margin-top: 10px;
     border-radius: 10px ;
}
.Search{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
}
.btn{
    border-radius: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
    background-color: rgb(57, 241, 33);
    border:none;
    color:rgb(80, 80, 77);
    
    
}
